.home{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moviesContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    justify-content: left;
    z-index: 2;
    gap: 48px;
    padding: 1rem 2rem;
    margin-top: -10vh;
}
.movieRow{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.movieRow::-webkit-scrollbar,
.movieRowPosters::-webkit-scrollbar {
    display: none;
}

.movieRowTitle{
    font-size: 22px;
    font-weight: 700;
}

.movieRowPosters {
    display: flex;
    flex: 0 0 auto;
    gap: 16px;
    overflow-x: auto;
    flex-direction: row;
}
.movieRowPosters > img{
    height: 120px;
    width: 215px;
    object-fit: contain;
}

.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 50px;
}

@media screen and (max-width: 768px) and (orientation: portrait){
    .moviesContent{
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px) and (orientation: landscape){
    .moviesContent{
        margin-top: 0;
    }
}