.header {
  position: absolute;  /* Fixiert den Header oben */
  top: 0;  /* Startet am oberen Rand */
  left: 0;  /* Deckt die ganze Breite ab */
  width: 100%;  /* 100% der Breite */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Stellt sicher, dass er über allem liegt */
  }

.headerContent{
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: var(--text-color);

}
  
  .logo {
   height: 48px;
    
  }
  

  .logoContainer{
    display: flex;
    align-items: center;
    gap : 10px;
    cursor: pointer;
  }

  .backArrow{
    height: 48px;
    width: 48px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
      scale: 1.1;
    }
  }
  