.hero{
    width: 100%; /* Volle Breite */
    height: 100vh; /* Volle Bildschirmhöhe */
    background-size: cover; /* Deckt den ganzen Bereich ab */
    background-position: center; /* Zentriert das Bild */
    background-repeat: no-repeat; /* Kein Wiederholen */
    transition: background 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: relative;
}



.backgroundVideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.heroContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    justify-content: center;
    z-index: 2;
    gap: 32px;
    padding: 1rem 2rem;
}

.heroContent h1{
    font-size: 48px;
    font-weight: 700;
}

.heroContent p{
    font-size: 20px;
    font-weight: 400;
    max-width: 500px;
}