.playerWrapper {
  position: relative;
  background: black;
  width: 100%;
  height: 100%;
}

.reactPlayer {
  /* sorgt dafür, dass das Video den Container ausfüllt */
  position: relative;
  z-index: 1;
}

.videoTitle {
  position: absolute;
  top: 0.5rem;
  
  color: white;
  font-size: 1rem;
  z-index: 2;
}

.hidden {
  opacity: 0;
  transition: opacity 0.2s;
}

.controlBar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  z-index: 2;
  justify-content: space-around;
  margin-bottom: 0.5rem;

}

.controlButton {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
  height: 20px;
  width: 20px;
  padding: 1rem;
}

.progress {
  flex-grow: 1;
  
  cursor: pointer;
  padding: 0;
}

.resolutionSelect {
  border: none;
  padding: 0.2rem;
  cursor: pointer;
}


.timeDisplay {
  color: white;
  font-size: 0.9rem;
  margin: 0 0.5rem;
  white-space: nowrap;
}

.volumeControl {
  position: relative;
}

.volumeSlider {
  position: absolute;
  bottom: 3.4rem;
  left: 40%;
  max-width: unset;
  transform: translateX(-50%) rotate(-90deg);
  width: 5rem;
  cursor: pointer;
  padding: 0
}

.resumeOverlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  z-index: 3;
  gap: 20px;
}

@media screen and (max-width: 500px) {
  

 
  .controlBar {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .progress {
    order: 2;
    flex-basis: 100%;
    margin: 0.5rem 0;
  }

  .controlButton,
  .resolutionSelect,
  .timeDisplay,
  .volumeControl {
    flex: 1 1 auto;
    text-align: center;
    padding: 0.5rem;
  }
  .volumeSlider{
    margin-bottom: 1rem;
    left:49%
  }
}